@import url(../fonts/RobotoSlab/stylesheet.css);
/* Colors */
/* Fonts */
/* font size */
/* button */
/* link underline */
/* Big arrow */
/* blockquote */
/* fieldset */
/* Tranform */
/* html.scss */
/* line 6, ../sass/html.scss */
* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 10, ../sass/html.scss */
body {
  background-color: #f1f1f1;
  font-size: 13px;
  color: #888888;
  font-family: 'roboto_slablight';
  font-style: normal;
  font-weight: normal;
  line-height: 1.8;
}

/* line 18, ../sass/html.scss */
a {
  color: #888888;
  outline: 0;
  -webkit-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
/* line 22, ../sass/html.scss */
a:hover, a:focus {
  color: #F37020;
  text-decoration: none;
  outline: 0;
}

/* line 29, ../sass/html.scss */
h3, h4, h5, h6 {
  margin: 0 0 15px;
  line-height: 1.2;
}

/* line 34, ../sass/html.scss */
h1, h2, h1#page-title {
  font-family: 'roboto_slablight';
  font-style: normal;
  font-weight: normal;
  color: #666666;
  font-size: 1.538em;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 25px;
  text-transform: uppercase;
}

/* line 44, ../sass/html.scss */
h1#page-title {
  font-size: 1.923em;
  font-weight: normal;
  text-transform: capitalize;
}

/* line 50, ../sass/html.scss */
h2 {
  padding-bottom: 15px;
  position: relative;
}
/* line 86, ../sass/includes/_include.scss */
h2:before {
  border-bottom: 1px solid #666666;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 50px;
}

/* line 54, ../sass/html.scss */
h5 {
  text-transform: uppercase;
}

/* line 58, ../sass/html.scss */
hr {
  border-bottom: 1px solid #e5e5e5;
  display: block;
  margin: 15px 0;
}

/* line 64, ../sass/html.scss */
input, button, select, textarea {
  -webkit-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  padding: 5px 10px;
}

/* line 69, ../sass/html.scss */
input, textarea {
  border: 1px solid white;
}

/* line 73, ../sass/html.scss */
address {
  line-height: 1.8;
}

/* line 77, ../sass/html.scss */
.form-submit {
  border-color: #b51546;
  background-color: #b51546;
  color: #fff;
  padding: 8px 30px;
  text-transform: uppercase;
}
/* line 83, ../sass/html.scss */
.form-submit:hover, .form-submit:focus {
  background-color: #7d7d7d;
  color: #fff;
  border-color: #7d7d7d;
}

/* line 90, ../sass/html.scss */
.form-text, .form-textarea, .form-select {
  background-color: #efefef;
  border: 1px solid #e5e5e5;
  color: #999;
  padding: 9px 10px;
}

/* line 97, ../sass/html.scss */
.form-select {
  padding: 7px 10px;
}

/* line 101, ../sass/html.scss */
.form-checkbox {
  background-color: #0c0c0c;
  border: 1px solid #1e1e1e;
}

/* line 106, ../sass/html.scss */
.form-item {
  display: inline-block;
  margin: 0 0 15px;
}

/* line 112, ../sass/html.scss */
legend a {
  color: black;
}
/* line 114, ../sass/html.scss */
legend a:hover, legend a:focus {
  color: white;
}

/* line 120, ../sass/html.scss */
label {
  font-weight: normal;
}

/* line 124, ../sass/html.scss */
iframe {
  border: none;
  max-width: 100%;
}

/* line 129, ../sass/html.scss */
p {
  margin-bottom: 15px;
}

/* line 133, ../sass/html.scss */
textarea {
  border: 1px solid white;
  padding: 20px 30px;
  resize: none;
}

/* line 139, ../sass/html.scss */
.item-list ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 145, ../sass/html.scss */
ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}

/* line 149, ../sass/html.scss */
ul.menu li {
  margin: 0;
}

/* line 152, ../sass/html.scss */
li.expanded, li.collapsed, li.leaf {
  margin: 0;
  padding: 0;
}

/* line 156, ../sass/html.scss */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* line 161, ../sass/html.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 166, ../sass/html.scss */
legend {
  color: #7d7d7d;
  border-color: #3a3a3a;
  font-size: 1.231em;
}

/* line 173, ../sass/html.scss */
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border-width: 1px;
  border-color: #cb0000;
}

/* line 178, ../sass/html.scss */
.alert {
  margin-bottom: 50px;
}
/* line 180, ../sass/html.scss */
.modal-content .alert {
  margin-bottom: 20px;
}
/* line 182, ../sass/html.scss */
.modal-content .alert ul {
  margin-bottom: 0 !important;
}

/* line 190, ../sass/html.scss */
table th,
table td {
  padding: 5px 15px;
}
