/* Colors */
/* Fonts */
/* font size */
/* button */
/* link underline */
/* Big arrow */
/* blockquote */
/* fieldset */
/* Tranform */
/* line 3, ../sass/menu.scss */
#main-menu-inner {
  max-height: 500px;
  position: relative;
  z-index: 9;
}
/* line 7, ../sass/menu.scss */
#main-menu-inner .container {
  background: white;
  padding: 0;
}
/* line 11, ../sass/menu.scss */
#main-menu-inner ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 15, ../sass/menu.scss */
#main-menu-inner ul > li {
  display: inline-block;
  float: none;
  position: relative;
}
/* line 19, ../sass/menu.scss */
#main-menu-inner ul > li > a {
  border: none;
  color: #888888;
  display: inline-block;
  font-size: 0.923em;
  font-weight: normal;
  padding: 10px 12px;
  text-transform: uppercase;
}
/* line 27, ../sass/menu.scss */
#main-menu-inner ul > li > a:hover, #main-menu-inner ul > li > a:focus {
  color: #1e304f;
}
/* line 32, ../sass/menu.scss */
#main-menu-inner ul > li.active > a {
  background: none;
  color: #1e304f;
}
/* line 37, ../sass/menu.scss */
#main-menu-inner ul > li ul {
  background: #1e304f;
  left: 50%;
  min-width: 200px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 42px;
  z-index: 99;
}
/* line 46, ../sass/menu.scss */
#main-menu-inner ul > li ul li {
  display: block;
}
/* line 48, ../sass/menu.scss */
#main-menu-inner ul > li ul li a {
  background: none;
  color: white;
  display: block;
  padding: 10px 0;
  text-align: center;
  text-transform: none;
}
/* line 55, ../sass/menu.scss */
#main-menu-inner ul > li ul li a:hover, #main-menu-inner ul > li ul li a:focus {
  color: #b51546;
}
/* line 58, ../sass/menu.scss */
#main-menu-inner ul > li ul li a:last-child {
  padding-bottom: 0;
}
/* line 61, ../sass/menu.scss */
#main-menu-inner ul > li ul li a:before {
  display: none;
}
/* line 66, ../sass/menu.scss */
#main-menu-inner ul > li ul li.active a {
  color: white;
}
/* line 140, ../sass/includes/_include.scss */
#main-menu-inner ul > li ul:before, #main-menu-inner ul > li ul:after {
  position: absolute;
  bottom: -126px;
  content: "";
  height: 126px;
  width: 50%;
}
/* line 147, ../sass/includes/_include.scss */
#main-menu-inner ul > li ul:before {
  left: 0px;
  background: -webkit-linear-gradient(-99deg, #1e304f 50%, transparent 50%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom left, #1e304f 50%, transparent 50%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom left, #1e304f 50%, transparent 50%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom left, #1e304f 50%, transparent 50%);
  /* Standard syntax */
}
/* line 154, ../sass/includes/_include.scss */
#main-menu-inner ul > li ul:after {
  right: 1px;
  background: -webkit-linear-gradient(-81deg, #1e304f 50%, transparent 50%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1e304f 50%, transparent 50%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1e304f 50%, transparent 50%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1e304f 50%, transparent 50%);
  /* Standard syntax */
}
/* line 72, ../sass/menu.scss */
#main-menu-inner ul > li ul:before, #main-menu-inner ul > li ul:after {
  bottom: -30px;
  height: 30px;
}
/* line 76, ../sass/menu.scss */
#main-menu-inner ul > li ul:after {
  right: 0;
}

/* line 85, ../sass/menu.scss */
.front #main-menu-inner {
  height: 42px !important;
}

/* Submenu Block */
/* line 92, ../sass/menu.scss */
.sub-menu-block ul.menu {
  text-align: center;
}
/* line 94, ../sass/menu.scss */
.sub-menu-block ul.menu li {
  display: inline-block;
  margin: 0 25px;
}
/* line 97, ../sass/menu.scss */
.sub-menu-block ul.menu li a {
  display: inline-block;
  color: #666666;
  text-align: center;
}
/* line 101, ../sass/menu.scss */
.sub-menu-block ul.menu li a:before {
  background: #e5e5e5;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  color: #666666;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  margin: 0 auto 5px;
  width: 40px;
}
/* line 114, ../sass/menu.scss */
.sub-menu-block ul.menu li a:hover, .sub-menu-block ul.menu li a.active {
  color: #42bcd2;
}
/* line 117, ../sass/menu.scss */
.sub-menu-block ul.menu li a:hover:before, .sub-menu-block ul.menu li a.active:before {
  background: #42bcd2;
  color: white;
}

/* TB megamenu */
/* line 128, ../sass/menu.scss */
#main-menu-inner .tb-megamenu {
  background: white;
  height: 42px;
  text-align: center;
}
/* line 134, ../sass/menu.scss */
#main-menu-inner .tb-megamenu .nav li .caret {
  border-top-color: #888888;
}
/* line 138, ../sass/menu.scss */
#main-menu-inner .tb-megamenu .nav > li.open {
  border-top-color: #1e304f;
}
/* line 140, ../sass/menu.scss */
#main-menu-inner .tb-megamenu .nav > li.open > a {
  color: #1e304f;
}
/* line 145, ../sass/menu.scss */
#main-menu-inner .tb-megamenu .dropdown-menu {
  background: none;
  border-bottom: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 151, ../sass/menu.scss */
#main-menu-inner .tb-megamenu .dropdown-menu ul {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: static;
  top: 1px;
}
/* line 158, ../sass/menu.scss */
#main-menu-inner .tb-megamenu .mega-inner {
  padding: 0;
}
