/* Colors */
/* Fonts */
/* font size */
/* button */
/* link underline */
/* Big arrow */
/* blockquote */
/* fieldset */
/* Tranform */
/* line 3, ../sass/off-canvas.scss */
.uk-offcanvas {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

/* line 14, ../sass/off-canvas.scss */
.uk-offcanvas.uk-active {
  display: block;
}

/* Sub-object `uk-offcanvas-page` */
/* line 19, ../sass/off-canvas.scss */
.uk-offcanvas-page {
  position: fixed;
  -webkit-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
}

/* Sub-object `uk-offcanvas-bar` */
/* line 26, ../sass/off-canvas.scss */
.uk-offcanvas-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 1001;
  width: 307px;
  max-width: 100%;
  background: #333333;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -ms-scroll-chaining: none;
}

/* line 43, ../sass/off-canvas.scss */
.uk-offcanvas.uk-active .uk-offcanvas-bar.uk-offcanvas-bar-show {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

/* Modifier `uk-offcanvas-bar-flip */
/* line 49, ../sass/off-canvas.scss */
.uk-offcanvas-bar-flip {
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

/* Panel in offcanvas */
/* line 57, ../sass/off-canvas.scss */
.cart_container .region {
  color: #fff;
  margin: 20px;
}
/* line 60, ../sass/off-canvas.scss */
.cart_container .region h2, .cart_container .region a {
  color: #fff;
}
/* line 63, ../sass/off-canvas.scss */
.cart_container .region a:hover, .cart_container .region a:focus {
  color: #b51546;
}

/* uk-nav-offcanvas */
/* line 69, ../sass/off-canvas.scss */
.uk-offcanvas-bar ul.menu {
  padding-left: 0;
}
/* line 71, ../sass/off-canvas.scss */
.uk-offcanvas-bar ul.menu a {
  color: #fff;
  display: block;
}
/* line 74, ../sass/off-canvas.scss */
.uk-offcanvas-bar ul.menu a:hover, .uk-offcanvas-bar ul.menu a:focus {
  color: #b51546;
}
/* line 79, ../sass/off-canvas.scss */
.uk-offcanvas-bar ul.menu > li > a {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
  padding: 10px 20px;
}
/* line 83, ../sass/off-canvas.scss */
.uk-offcanvas-bar ul.menu > li > a.active {
  background-color: #1a1a1a;
}
/* line 88, ../sass/off-canvas.scss */
.uk-offcanvas-bar ul.menu > li.expanded ul.menu > li > a {
  padding-left: 40px;
}

@media (min-width: 992px) {
  /* line 96, ../sass/off-canvas.scss */
  .hidden-lg {
    display: none !important;
  }
}
@media (max-width: 991px) {
  /* line 102, ../sass/off-canvas.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 105, ../sass/off-canvas.scss */
  .navbar-canvas-toggle {
    bottom: -65px;
    font-size: 1.385em;
    line-height: 4.6;
    left: 30px;
    position: absolute;
  }

  /* line 113, ../sass/off-canvas.scss */
  .not-front .navbar-canvas-toggle {
    bottom: 15px;
    left: 0;
    color: #1e304f;
  }

  /* line 119, ../sass/off-canvas.scss */
  .uk-navbar-toggle {
    color: #fff;
    float: left;
    padding-top: 18px;
  }
  /* line 123, ../sass/off-canvas.scss */
  .uk-navbar-toggle:hover, .uk-navbar-toggle:focus {
    color: #b51546;
  }
}
@media (max-width: 768px) {
  /* line 129, ../sass/off-canvas.scss */
  .navbar-canvas-toggle {
    padding-left: 10px;
  }
}
@media (max-width: 640px) {
  /* line 134, ../sass/off-canvas.scss */
  .navbar-canvas-toggle {
    padding-left: 20px;
  }
}
@media (max-width: 360px) {
  /* line 139, ../sass/off-canvas.scss */
  .navbar-canvas-toggle {
    padding-left: 10px;
  }
}
